

.dropDownButtonContainer {
    width: 100%;
    background-color: lightgray;
    margin-top: 10px;
}
.dropDownButtonElement {
   padding: 10px;
}

.rankCheckBoxContainer {
    width: 100%;
    margin-top: 10px;
    background-color: lightgray;
}

.rankCheckBoxItem {
    float: left;
    padding: 10px;
    background-color: lightgray;
}
.rankButtonContainer {
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: lightgray;
}

.gridContainer {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

label {
    padding: 5px;
}

body, html {
    background: url("../img/background.jpg") no-repeat center fixed;
    background-size: cover;
}

.container {
    width: 70%;
    padding: 30px;
}

.error {
    background-color: lightgray;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.inputField {
}

.textInput {
    background-color: lightgray;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom:20px;
    width: 20%;
    height: 80%;
}

.textInputContainer {
    background-color: lightgray;
    
    margin: 20px;
}

.selectContainer {
    padding: 20px;
    margin: 20px;
    background-color: lightgray;
}

.saveProvButtonContainer {
    padding: 20px;
}

.selectbutton {
}

.logoPic {
    width: 15%;
    height: 15%;
    margin-right: 2px;
}